/* Base styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #2c3447;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    max-width: 900px;
    width: 90%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card-left {
    background-color: #2c3447;
    color: #fff;
    padding: 30px;
    text-align: center;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-left img {
    width: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card-left h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

.contact-item i {
    font-size: 18px;
}

.contact-item:hover i {
    color: #00acee; /* Example hover color */
    transform: scale(1.2);
}

.card-right {
    padding: 30px;
    width: 65%;
    color: #2c3447;
}

.card-right h1 {
    margin-top: 0;
    font-size: 28px;
}

.card-right h3 {
    margin: 20px 0 5px 0;
    font-size: 16px;
}

.card-right p, .card-right ul li {
    margin: 5px 0;
    line-height: 1.5;
}

.card-right ul {
    padding-left: 20px;
    margin: 0;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
        width: 95%;
        margin: 4px;
    }

    .card-left, .card-right {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .card-left img {
        width: 120px;
        margin-bottom: 15px;
    }

    .card-left h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .card-right h1 {
        font-size: 24px;
    }

    .card-right h3 {
        font-size: 14px;
    }
    .card-right p{
        text-align: start;
    }

    .card-right p, .card-right ul li {
        font-size: 14px;
        line-height: 1.6;
        text-align: start;

    }
}

